.apre {
    color: red;
}
.header {
    border: 0px;
    background-color: #55ff05;
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: start;
}
.YT {
    text-align: center;
    background-color: aqua;
    padding-top: 13px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}
.sobreock {
    text-align: center;
    background-color: aqua;
    padding-top: 13px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}
.curioso {
    text-align: center;
    background-color: aqua;
    padding-top: 13px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}
.cards {
    display: grid;
    grid-template: 350px 350px 350px / 350px 350px 350px;
    margin: 100px;
}
.card {
    padding: 50px;
}

